@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Variables */
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 0%; /* Black */

    --card-background: 0 0% 100%; /* White */
    --card-foreground: 0 0% 0%; /* Black */

    --muted-background: 0 0% 98%; /* Lighter white */
    --muted-foreground: 0 0% 60%; /* Gray */

    --primary: 0 0% 0%; /* Black */
    --primary-foreground: 0 0% 100%; /* White */

    --secondary: 210 100% 50%; /* Blue */
    --secondary-foreground: 0 0% 100%; /* White */

    --accent: 210 100% 50%; /* Blue */
    --accent-foreground: 0 0% 100%; /* White */

    --border: 0 0% 96.9%; /* Light gray */
    --hover: 210 16% 90%; /* Light gray */
    --input: 210 16% 90%; /* Light gray */
    --ring: 210 100% 50%; /* Blue */

    --radius: 0.5rem; /* Default border radius */
  }

  .dark {
    /* Dark Mode Variables */
    --background: 222.2 84% 5%; /* Black */
    --foreground: 0 0% 100%; /* White */

    --card-background: 222.2 84% 5%; /* Black */
    --card-foreground: 0 0% 100%; /* White */

    --muted-background: 222.2 84% 10%; /* Darker black */
    --muted-foreground: 0 0% 60%; /* Gray */

    --primary: 0 0% 100%; /* White */
    --primary-foreground: 0 0% 0%; /* Black */

    --border: 210 16% 20%; /* Darker gray */
    --hover: 210 16% 20%; /* Darker gray */
    --input: 210 16% 20%; /* Darker gray */
    --ring: 210 100% 50%; /* Blue */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    color: var(--foreground);
  }
}
